extends ../header.jade
block head
  title CoactAdmin - Merci
block vars
  - var nav = 'survey'
block component
  #post-formation-survey.jumbotron
    .container
      .row
        .col-md-12
          h2 Merci d'avoir répondu au questionnaire de fin de formation
