@import '../../bower_components/bootstrap/less/bootstrap.less';

@coactBlue: rgba(38, 173, 228, 1);
@coactBlueDarker: rgba(23, 158, 213, 1);
@coactBlueTransparent: rgba(23, 158, 213, 0.7);
@coactGrey: #999;

.space-left {
  margin-left: 5px;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/ubuntu.ttf) format('woff');
}

@font-face {
    font-family: 'Ubuntu-condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Condensed'), url(../fonts/ubuntu-condensed.ttf) format('woff');
}

body {
    font-family: Ubuntu, "times new roman", times, roman, serif !important;
    font-size: 17px !important;
}

.explain {
  font-family: Ubuntu-condensed, "Times New Roman", Times, serif;
}

.ng-hide-add, .ng-hide-remove {
  /* ensure visibility during the transition */
  display: block !important; /* yes, important */
}


  /* Animate
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0 !important;
}


  /* Background
  –––––––––––––––––––––––––––––––––––––––––––––––––– */


body.bg-personnel {
  background: url("../img/bg-personnel.png") no-repeat;
  background-size: 100%;
  background-position-y: 40px;
  background-color: #fff;
  .jumbotron.header .row {
    background-color: rgba(255, 255, 255, 0.7)
  }
}

body.bg-organisation {
  background: url("../img/bg-organisation.png") no-repeat;
  background-size: 70%;
  background-position-x: 30%;
  background-position-y: 40px;
  background-color: #fff;
  .jumbotron.header .row {
    background-color: rgba(255, 255, 255, 0.7)
  }
}



/* CoactCSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.coactcss{
  .header {
    text-align: center;
  }

  #three-fork, .three-fork {
    text-align: center;
    position: relative;

    .return {
      position: absolute;
      top: 5px;
      left: 5px;
      text-decoration: underline;
      color: #fff;
      cursor: pointer;
    }

    @media(max-width: 1046px) {
      p {
        width: 75% !important;
        display: inline-block;
      }
      .glyph-holder{
        width: 40px !important;
        height: 40px !important;
        display: inline-block;
        margin: 5px 0 0 !important;
        padding-left: 8px !important;
        padding-top: 7px !important;

        .glyph{
          background-size: 86px 122px;
          width: 26px;
          height: 26px;
        }
        .glyph.glyph-personnel {
          background-position: -21px -3px;
        }
        .glyph.glyph-technologie {
          background-position: -21px -28px;
        }
        .glyph.glyph-organisation {
          background-position: -50px -1px;
        }

      }
    }
    .glyph-holder {
      background-color: #fff;
      width: 100px;
      height: 100px;
      padding-left: 11px;
      padding-top: 8px;
      border-radius: 50px;
      margin: 5px 36% 25px;
    }
  }

  p {
    @media(max-width: 640px) {
      font-size: 15px !important;
    }
    font-size: 20px !important;
  }

  .thumbnail {
    text-align: center;
  }

  #landing-carousel {
    &, & .carousel-inner, & .carousel-inner>div, & .carousel-inner>div>div{
      @media(min-height: 641px) {
        min-height: 555px;
      }
      margin-bottom: 0;
    }
    margin-top: -25px;
  }


  #pillars-carousel {
    background-color: @coactBlue;
    border-color: #fff;
    border-width: 15px;
    border-style: solid;
    border-radius: 15px;

    color: #fff;

    .item>div {
      margin-top: 20px;
    }
    &, & .carousel-inner, & .carousel-inner>div, & .carousel-inner>div>div{
      @media(min-height: 641px) {
        height: 280px;
      }
      margin-bottom: 0;
    }
  }

  #organisation-cta {
    margin-top: 30px;
  }

  #pillars {
    .thumbnail{
      width: 310px;
    }
    .caption {
      height: 280px;
      width: 300px;
      position: relative;
      text-align: center;
      h3 {
        font-size: 24px;
      }
      .glyph.glyph-pillar {
        margin-left: 45%;
        position: absolute;
        top: 130px;
      }
      .subtitle {
        position: absolute;
        font-size: 16px !important;
        top: 225px;
      }
    }
  }

    /* Glyph
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

  a.social-icon {
      margin-left: 5px;
    &, img {
      vertical-align: text-bottom;
    }
  }

  .glyph.glyph-pillar {
    background-position: -4px -3px;
    background-size: 132px 187px;
    width: 20px;
    height: 73px;
  }

  #contact .glyph {
    display: inline-block;
    margin-right: 25px;
  }

  .glyph.glyph-phone {
    background-position: 42.143% 98.279%;
    background-size: 132px 187px;
    width: 28px;
    height: 27px;
  }

  .glyph.glyph-mail {
    background-position: 3.109% 98.433%;
    background-size: 132px 187px;
    width: 36px;
    height: 27px;
  }

  .glyph.glyph-email {
    background-position: 81.053% 98.281%;
    background-size: 132px 187px;
    width: 38px;
    height: 27px;
  }

  .glyph.glyph-personnel {
    background-position: -65px -10px;
  }

  .glyph.glyph-technologie {
    background-position: -65px -85px;
  }

  .glyph.glyph-organisation {
    background-position: -152px -2px;
  }

  .glyph {
    background: url('../img/glyph.png') no-repeat;
    background-size: 265px 374px;
    width: 80px;
    height: 76px;
  }


    /* Survey
    –––––––––––––––––––––––––––––––––––––––––––––––––– */


  .survey {
    .btn {
      width: 100%
    }

    .question {
      border-color: #777;
      border-top-right-radius: 15px;
      border-top-style: solid;

      padding-right: 10px;
    }
    .response {
      margin-left: 10px;
    }
  }


    /* Slider
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .slider-controller, #side-slider {
    height: 340px;

    .thumbnail {
      height: 310px;

      .caption {
        height: 290px;
        p {
          @media(max-width: 640px) {
            font-size: 20px !important;
          }
        }
      }
    }
  }


    /* Nav
    –––––––––––––––––––––––––––––––––––––––––––––––––– */


  nav {
    background-color: rgba(231, 231, 231, 0.9);
  }

  .navbar-brand {
    padding: 0 0 5px 0;

    img {
      height: 100%;
    }
  }

  nav a.social-icon {
    display: inline-block;
    padding-top: 13px;
  }

  .navbar-default .navbar-nav>.active>a{
    &, &:focus, &:hover {
      background-color: rgba(38, 173, 228, 0.5);
      color: #fff;
    }
  }
  .dropdown-menu > .active > a{
    &, &:focus, &:hover {
      color: #fff;
      text-decoration: none;
      outline: 0;
      background-color: @coactBlue;
    }
  }

    /* Row
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .jumbotron {
    h1 {
      font-size: 50px !important;
    }
    margin-bottom: 0;
  }

  .jumbotron.header {
    background-color: rgba(255, 255, 255, 0);
  }

  .jumbotron.cta {
    background-color: @coactGrey;
    color: #fff;
  }

  .row.cta{
    margin-bottom: 30px;
  }

  #contact.jumbotron {
    h2 {
      font-size: 42px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 30px;
    }
    background-color: @coactBlue;

    .container .container {
      margin: 0;
      padding: 0;
    }

    hr {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    span.name {
      margin-right: 10px;
    }

    a {
      color: #fff;
    }
  }

  .jumbotron.pillars {
    background-color: @coactBlueTransparent;
  }

  .jumbotron.catch, .jumbotron.appeal {
    background-color: @coactBlue;
  }

  .jumbotron.pillars, .jumbotron.catch, .jumbotron.appeal {
    h2 {
      font-size: 42px;
    }
    h3 {
      font-size: 30px;
    }

    h2, h3 {
      text-align: center;
      margin-bottom: 50px;
    }

    @media(max-width: 640px) {
      h1, h2, h3 {
        font-size: 25px !important;
      }
      p {
        font-size: 14px !important;
      }
    }
  }

  .jumbotron.appeal p {
    @media(max-width: 640px) {
      font-size: 15px !important;
    }
    font-size: 28px !important;
    margin-bottom: 35px;
    padding-top: 20px;
  }
    /* BTN
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .jumbotron {
    .btn-default {
      &.btn-higlight {
        background-color: #0004AD;
        border-color: #00008B;
        border-width: thick;
        color: #fff;
        width: 100%;
        margin: 0;
        font-size: 28px;
        @media(max-width: 640px) {
          font-size: 22px;
        }
      }
      width: 90%;
      margin: 0 5%;
      @media(max-width: 640px) {
        font-size: 14px;
      }
      font-size: 20px;
    }
  }

  .btn-cta {
    color: #ffffff;
    background-color: @coactBlue;
    border-color: #2e6da4;
    width: 90%;
    margin: 0 5%;
    font-size: 20px;
    &:focus, &.focus {
      color: #ffffff;
      background-color: @coactBlueDarker;
      border-color: #122b40;
    }
    &:hover {
      color: #ffffff;
      background-color: @coactBlueDarker;
      border-color: #204d74;
    }
    &:active,
    &.active,
    .open > .dropdown-toggle& {
      color: #ffffff;
      background-color: @coactBlueDarker;
      border-color: #204d74;
      background-image: none;
      &:hover, &:focus, &.focus {
        color: #ffffff;
        background-color: #204d74;
        border-color: #122b40;
      }
    }
  }

}
