extends ./header.jade
block head
  title Coact - Contact
  meta(name="description" content="Laboratoire de pratiques collaboratives. Développer les pratiques collaboratives au sein de vos organisations")
block vars
  - var nav = 'contact'
block component
  .jumbotron.blue
    .container
      .row
        .col-md-8 &nbsp;
      .row
        .col-md-8
          h1 Contactez-nous !
  #contact.jumbotron
    .container
      .row
        .col-md-6.col-md-offset-3
          h2 Par téléphone
          .container
            .row
              .col-md-6
                p Frédéric LE PENNEC
              .col-md-6
                p 06 03 06 05 02
            .row
              .col-md-6
                p Aubry HERVÉ
              .col-md-6
                p 06 58 50 68 14
      .row
        .col-md-6.col-md-offset-3
          h2 Par email
          p
            a(href="mailto:contact@thecollaboractionfactory.com?Subject=Contact%20Coact" target="_top") contact@coact.fr
      .row
        .col-md-6.col-md-offset-3
          h2 Par Courrier
          p(style='white-space:pre;')
            | Coact
            | c/o La Ruche
            | 84 quai de Jemmapes
            | 75010 PARIS

