extends ./header.jade
block head
  title Coact - Contact
  meta(name="description" content="Contactez CoAct pour trouver un terrain de collaboration.")
block vars
  - var nav = 'contact'
block component
  .jumbotron.blue
    .container
      .row
        .col-md-8 &nbsp;
      .row
        .col-md-8
          h1 Contactez-nous !
  #contact.jumbotron
    .container
      .row
        .col-md-6
          h2
            .glyph.glyph-phone
            span Par téléphone
        .col-md-6
          br
          .container
            .row
              .col-md-6
                p
                  span.name Frédéric LE PENNEC
                  a.social-icon(href="https://fr.linkedin.com/pub/frederic-le-pennec/3/998/428" target="_blank")
                    img(src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="LinkedIn" border="0")
                  a.social-icon(href="http://www.viadeo.com/profile/0021epk3zyefyakt/" target="_blank")
                    img(src="http://static1.viadeo-static.com/v_img20121114132157/profile/promotion/white/22x22.png" width="15" height="15" alt="")
              .col-md-6
                p 06 03 06 05 02
            .row
              .col-md-6
                p
                  span.name Aubry HERVÉ
                  a.social-icon(href="https://fr.linkedin.com/pub/aubry-herv%C3%A9/6b/275/18b" target="_blank")
                    img(src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="LinkedIn" border="0")
              .col-md-6
                p 06 58 50 68 14
      hr
      .row
        .col-md-6
          h2
            .glyph.glyph-email
            span Par email
        .col-md-6
          br
          p
            a(href="mailto:contact@thecollaboractionfactory.com?Subject=Contact%20Coact" target="_top") contact@coact.fr
      hr
      .row
        .col-md-6
          h2
            .glyph.glyph-mail
            span Par courrier
        .col-md-6
          br
          p(style='white-space:pre;')
            | Coact
            | c/o La Ruche
            | 84 quai de Jemmapes
            | 75010 PARIS

