extends ./header.jade
block head
  title Coact - Contact
  meta(name="description" content="Contactez CoAct pour trouver un terrain de collaboration.")
block vars
  - var nav = 'contact'
block component
  .jumbotron.blue
    .container
      .row
        .col-md-8 &nbsp;
      .row
        .col-md-8
          h1 Contactez-nous !
  #contact.jumbotron
    .container
      .row
        .col-md-6
          h2
            .glyph.glyph-phone
            span Par téléphone
        .col-md-6
          br
          .container
            .row
              .col-md-6
                p Frédéric LE PENNEC
              .col-md-6
                p 06 03 06 05 02
            .row
              .col-md-6
                p Aubry HERVÉ
              .col-md-6
                p 06 58 50 68 14
      hr
      .row
        .col-md-6
          h2
            .glyph.glyph-email
            span Par email
        .col-md-6
          br
          p
            a(href="mailto:contact@thecollaboractionfactory.com?Subject=Contact%20Coact" target="_top") contact@coact.fr
      hr
      .row
        .col-md-6
          h2
            .glyph.glyph-mail
            span Par courrier
        .col-md-6
          br
          p(style='white-space:pre;')
            | Coact
            | c/o La Ruche
            | 84 quai de Jemmapes
            | 75010 PARIS

