extends ./header.jade
block head
  title Coact - Technologie
  meta(name="description" content="Mettez en place les outils informatiques collaboratifs adaptés à votre organisation")
block vars
  - var nav = 'technologie'
block component
  .container
    .page-header
      img.img-responsive(src="img/CoAct.svg" onerror="this.onerror=null; this.src='img/CoAct.png'")

  .jumbotron.catch
    .container
      .row
        .col-md-12
          h1 Page en construction
          p
            a.btn.btn-primary(href="/") Revenir à l'accueil
