extends ./header.jade
block vars
  - var nav = 'contact'
block component
  .jumbotron.blue
    .container
      .row
        .col-md-8 &nbsp;
      .row
        .col-md-8
          h1 Contactez-nous !
  .jumbotron
    .container
      .row
        .col-md-4
          h2 Par email
          p
            a(href="mailto:contact@thecollaboractionfactory.com?Subject=Contact%20Coact" target="_top") contact@coact.fr
        .col-md-4
          h2 Par téléphone
          p 06 58 50 68 14
        .col-md-4
          h2 Par Courrier
          p(style='white-space:pre;')
            | Coact
            | c/o La Ruche
            | 84 quai de Jemmapes
            | 75010 PARIS

