extends ./header.jade
block vars
  - var nav = 'landing'
block component
  .container
    .page-header
      img.img-responsive(src="img/CoAct.svg" onerror="this.onerror=null; this.src='img/CoAct.png'")

  .jumbotron.catch
    .container
      .row
        .col-md-12
          h1 Travaillons ensembles
          p
          | Doper l'efficacité des équipes en développant les pratiques
          | collaboratives au sein de votre organisation.
  .jumbotron.cta
    .container.marketing
      .row
        .col-md-4
          .thumbnail
            img.img-circle(src='img/Puce.svg' onerror='this.onerror=null;' this.src='img/Puce.png')
            .caption
              p
                a.btn.btn-cta(href='#/personnel') Doper les equipes
              p
              | Grâce à une meilleure connaissance de soi, de son propre fonctionnement en condition normale et sous stress,
              | de nos attentes vis-à-vis de notre environnement et des personnes avec lesquelles nous communiquons
        .col-md-4
          .thumbnail
            img.img-circle(src='img/Puce.svg' onerror='this.onerror=null;' this.src='img/Puce.png')
            .caption
              p
                a.btn.btn-cta(href='#/organisation' style='white-space:pre;')
                  | Rendre votre organisation
                  | "apprenante"
              p
              | Par la mise en place de processus collaboratifs prenant en compte
              | les besoins de plus en plus rapides de gestion du changement
        .col-md-4
          .thumbnail
            img.img-circle(src='img/Puce.svg' onerror='this.onerror=null;' this.src='img/Puce.png')
            .caption
              p
                a.btn.btn-cta(href='#/technologie') Adapter votre technologie
              p
                | Par la mise en place de technologies favorisant la collaboration dès lors que celles-ci sont soutenues par les collaborateurs
