extends ./header.jade
block vars
  - var nav = 'landing'
block component
  #logo.container
    .page-header
      img.img-responsive(src="img/CoAct.svg" onerror="this.onerror=null; this.src='img/CoAct.png'")

  carousel#landing-carousel(no-wrap="true" data-interval="false")
    slide#catch(active="landingCarousel.slides.catch")
      .jumbotron.catch
        .container.marketing
          .row
            .col-md-12
              h1 Travaillons ensemble
              p
                | Dopez l'efficacité des équipes en développant les pratiques
                | collaboratives au sein de votre organisation.
          .row.three-fork
            .col-md-4
              img(src='img/personnel.svg' onerror='this.onerror=null;' this.src='img/personnel.png')
              p
                a.btn.btn-default(ng-click='landingCarousel.goTo("personnel")') Dopez les equipes
            .col-md-4
              img(src='img/personnel.svg' onerror='this.onerror=null;' this.src='img/personnel.png')
              p
                a.btn.btn-default(ng-click='landingCarousel.goTo("organisation")' style='white-space:pre;')
                  | Rendez votre organisation
                  | "apprenante"
            .col-md-4
              img(src='img/personnel.svg' onerror='this.onerror=null;' this.src='img/personnel.png')
              p
                a.btn.btn-default(ng-click='landingCarousel.goTo("technologie")') Adaptez votre technologie
    slide#personnel(active="landingCarousel.slides.personnel")
      .jumbotron.appeal
        .container.marketing
          .row
            .col-md-12
              h2 Dopez vos equipes
              p
                | Grâce à une meilleure connaissance de soi, de son propre fonctionnement
                | en condition normale et sous stress, de nos attentes vis-à-vis de notre
                | environnement et des personnes avec lesquelles nous communiquons
              p
                a.btn.btn-default(href='#/personnel') En apprendre plus
    slide#organisation(active="landingCarousel.slides.organisation")
      .jumbotron.appeal
        .container.marketing
          .row
            .col-md-12
              h2 Rendez votre organisation "apprenante"
              p
                | Par la mise en place de processus collaboratifs prenant en compte
                | les besoins de plus en plus rapides de gestion du changement
              p
                a.btn.btn-default(href='#/organisation') En apprendre plus
    slide#technologie(active="landingCarousel.slides.technologie")
      .jumbotron.appeal
        .container.marketing
          .row
            .col-md-12
              h2 Adaptez votre technologie
              p
                | Par la mise en place de technologies favorisant la collaboration dès
                | lors que celles-ci sont soutenues par les collaborateurs
              p
                a.btn.btn-default(href='#/technologie') En apprendre plus
