extends ./header.jade
block vars
  - var nav = 'technologie'
block component
  .container
    .page-header
      img.img-responsive(src="img/CoAct.svg" onerror="this.onerror=null; this.src='img/CoAct.png'")

  .jumbotron.catch
    .container
      .row
        .col-md-12
          h1 Page en construction, bientôt disponible ;)
          p
            a.btn.btn-primary(href="#/") Revenir à l'accueil
