extends ../header.jade
block head
  title CoactAdmin - Questionnaires
block vars
  - var nav = 'surveys'
block component
  .jumbotron
    .container
      .row
        .col-md-12
          h2 Questionnaires
  .jumbotron
    .container
      .row
        .col-md-8
          ul
            each survey in surveys
              li
                form(
                  novalidate
                  method="post"
                  action='/admin/deleteSurvey/' + survey.token
                  )
                  label= survey.token
                  input(type="submit" value="Delete questionnaire")
