doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body

      h1 Salut !

      p merci de répondre au lien :
        a(href='http://www.coact.fr/pcm/' + pcmTestCode) test de Process Communication
