doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
  body

    h2 Bonjour,

    p Dans le cadre de votre formation à la Process Communication, merci de répondre au questionnaire suivant :
      a(href='http://www.coact.fr/pcm/' + pcmTestCode)="www.coact.fr/pcm/" + pcmTestCode

    p Cordialement,

    div(style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:13px;text-align:start;background-color:rgb(255,255,255)" border="0")
      h1(style="font-size:28px;font-weight:normal;margin:0px;padding:0px;letter-spacing:1px")
        span(style="color:rgb(0,176,240)") Co
        span(style="color:rgb(0,0,0)") Act
      p(style="font-size:9px;margin:0px;padding:0px;line-height:11px")
        br

      p(style="font-size:9px;margin:0px;padding:0px;line-height:11px")
        span(style="color:rgb(102,102,102);font-family:arial,sans-serif") c/o La Ruche
        br(style="color:rgb(102,102,102);font-family:arial,sans-serif")
        span(style="color:rgb(102,102,102);font-family:arial,sans-serif") 84 quai de Jemmape
        br(style="color:rgb(102,102,102);font-family:arial,sans-serif")
        span(style="color:rgb(102,102,102);font-family:arial,sans-serif") 75010 PARIS

